extends ../shared/template
block content
  h2 Client Detail Page!

  h2= person.name
  .photo(style='background-image: url(#{person.photo});')
  a(href='/people/'+person._id+'/items/new') Add an Asset
  .stats
    h3 Cash: $#{person.cash.toFixed(2)}
    h3 Assets: $#{person._assetTotal.toFixed(2)}
    h3 Net Worth: $#{(person.cash + person._assetTotal).toFixed(2)}
  h2 Assets
  table
    thead
      th Name
      th Photo
      th Value
      th Count
      th Total
    tbody
      each asset in person.assets
        tr
          td= asset.name
          td
            img(src=asset.photo)
          td $#{asset.value.toFixed(2)}
          td= asset.count
          td $#{(asset.value * asset.count).toFixed(2)}

    form(method='post', action='/people/'+person._id)
      button Delete Client
block scripts
  script(src='/js/user/home.js')

